{% extends 'base.html.twig' %}

{% block title %}{{ note.name }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="m-5">{{ note.name|capitalize }}</h1>
    <p>Description : </p>
    {% if note.description %}
        <p>{{ note.description|capitalize }}</p>
        {% else %}
        <p>Aucune description disponible.</p>
    {% endif %}

    <a class="btn btn-sm btn-outline-dark" href="{{ path('app_note_index') }}">Retour</a>

</div>

{% endblock %}
